body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}
